body {
    background-color: #000000;
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}
a:link {
    color: #00B3FF;
}
/* visited link */

a:visited {
    color: #00B3FF;
}
.sitemap {
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    font-size: large;
    margin-left: 3%;
    text-decoration: bold;
	color: cyan;
}
.img-with-text {
    text-align: center;
   font-size: xsmall;
	
}

.img-with-text img {
    display: block;
    margin: 0 auto;
	font-size: xsmall;
	 width: 75%;
    height: 75%;
	
}
#contact
{
  margin: auto;
  text-align: center;
  color: white;

}
#contact th
{
  border: 1px white;
	style:"overflow-x:auto;
}
p {
    color: white;
    font-size: x-large;
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}
h1 {
    color: cyan;
    margin: auto;
    text-align: center;
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}
li {
    color: cyan;
    font-size: xlarge;
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}
tr {
    color: white;
    margin: auto;
    text-align: center;
	style:"overflow-x:auto;
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}
.animation {
    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}
#sales {
    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}
table {
    color: white;
    margin: auto;
    text-align: center;
    width: auto;
    height: auto;
	style:"overflow-x:auto;
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}
/* Add a black background color to the top navigation */

.topnav {
    background-color: #333;
    overflow: hidden;
    color: cyan;
}
/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    display: block;
    color: cyan;
    text-align: center;
    padding: 14px 16px;
	padding-left: auto;
	padding-right: auto;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
    color: cyan;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: small;
    height: 60px;
    margin: auto;
    /* Height of the footer */
}
.header {
    text-align: center;
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}
table,
th,
td {
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    border: 1px solid cyan;
	style:"overflow-x:auto;
    border-collapse: collapse;
}
.fluid {
    clear: both;
    margin-left: 0;
    width: 100%;
    float: left;
    display: block;
    background-color: black;
    color: white;
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}
.fluidList {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}
.banner-img {
    width: 75%;
    height: 75%;
    max-height: 300px;
}
@media screen and (max-width: 480px) {
    .skip {
        position: absolute;
        top: -1000px;
        left: -1000px;
        height: 1px;
        width: 1px;
        text-align: left;
        overflow: hidden;
    }
	.img-with-text {
    text-align: center;
   font-size: xsmall;
		 margin: auto;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
	font-size: xsmall;
width: 75%;
    height: 75%;
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
	
}
    #contact
    {
      margin: auto;
      text-align: center;
      color: white;

    }
    #contact th
    {
      border: 1px white;
    }
    #frame{
overflow: hidden;
width: 860px;
height: 100%;
position: absolute;
}
    .animation {
        margin: auto;
        width: auto;
        height: auto;
        text-align: center;
    }
    a.skip:active,
    a.skip:focus,
    a.skip:hover {
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        overflow: visible;
    }
    .header {
        text-align: center;
        font-size: small;
    }
    h1 {
		font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
        color: cyan;
        margin: auto;
        text-align: center;
        font-size: small;
    }
    .banner-img {
        width: 100%;
        height: 100%;
        max-height: 300px;
    }
}
.fluid.nav_div .fluid.fluidList.nav_ul li {
    border-bottom: thin solid black;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    h1 {
        color: cyan;
        margin: auto;
        text-align: center;
        font-size: medium;
    }
	.img-with-text {
    text-align: center;
   font-size: xsmall;
		 margin: auto;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
	font-size: xsmall;
width: 75%;
    height: 75%;
}
    #contact
    {
      margin: auto;
      text-align: center;
      color: white;

    }
    #contact th
    {
      border: 1px white;
    }
    #frame{
overflow: hidden;
width: 860px;
height: 100%;
position: absolute;
}
    .animation {
        margin: auto;
        width: auto;
        height: auto;
        text-align: center;
    }
    .skip {
        position: absolute;
        top: -1000px;
        left: -1000px;
        height: 1px;
        width: 1px;
        text-align: left;
        overflow: hidden;
    }
    a.skip:active,
    a.skip:focus,
    a.skip:hover {
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        overflow: visible;
    }
}
.banner-img {
    width: 100%;
    height: 100%;
    max-height: 300px;
}
@media screen and (min-width: 769px) {
    .skip {
        position: absolute;
        top: -1000px;
        left: -1000px;
        height: 1px;
        width: 1px;
        text-align: left;
        overflow: hidden;
    }
	.img-with-text {
    text-align: center;
   font-size: xsmall;
		 margin: auto;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
	font-size: xsmall;
	width: 75%;
    height: 75%;
}
    #contact
    {
      margin: auto;
      text-align: center;
      color: white;

    }
    #contact th
    {
      border: 1px white;
    }
    #frame{
overflow: hidden;
width: 860px;
height: 100%;
position: absolute;
}
    .animation {
        margin: auto;
        width: auto;
        height: auto;
        text-align: center;
    }
    .banner-img {
        width: 100%;
        height: 100%;
        max-height: 300px;
    }
    a.skip:active,
    a.skip:focus,
    a.skip:hover {
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        overflow: visible;
    }
    object {
        margin: auto;
    }
}
