body {
  height: 100%;
  margin: 0;
  background-color: black;
  color: green;
}
p{
  text-align:center;
  color: green;
}
ul{
  text-align:center;
  color: green;
}
h4{
  color: red;
  text-align:center;
}
h2{
  color: red;
  text-align:center;
}
.download
{
  color: yellow;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  background-color: rgba(220, 0, 0, 1);
  border-radius: 10px;
  font-size: 1rem;
}
button
{
  justify-content: center;
}
.personal
{
  text-align:right;
  color: yellow;
  float: left;
}
